@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


@model List<AppUserListDto>
<div class="container">
    
    <div class="row mb-5">


         <div class="col-md-4 ">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Toplam Kazanç</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i></h2>
                    <p class="m-b-0">Kesintiler Hariç <span class="f-right">@ViewBag.toplamkazanc</span></p>
                </div>
            </div>
        </div>
       
        <div class="col-md-4 ">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Satılan Randevu Satış</h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i></h2>
                    <p class="m-b-0">Randevu Sayısı <span class="f-right">@ViewBag.toplamSatiş</span></p>
                </div>
            </div>
        </div>


        <div class="col-md-4 ">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Toplam Kullanıcı Sayısı</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i></h2>
                    <p class="m-b-0">Üye <span class="f-right">@ViewBag.toplamKUllanıcıSAyıcı</span></p>
                </div>
            </div>
        </div>



    </div>


    <div class="row mb-5 border p-3">
        <h3 class="text-center">Kullanıcı Arama</h3>
        <div class="col-md-5">

            <label class="form-label">e-mailden kullanıcı sorgulama</label>
            <input class="form-input" id="searchData" type="text" placeholder="e-mailden kullanıcı sorgulama" />

            <button class="btn btn-primary" id="btnSearch" type="button"> ara</button>

        </div>
        <div id="queryResult" class="col-md-7">

            <div id="snipper" style="display:none;" class="spinner-border" role="status">
            </div>

        </div>
    </div>

    <div class="row mb-5">

        <div class="col-md-12">

            <h3 class="text-center mb-1">Kullanıcı Listesi</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>adı</th>
                        <th>soyadı</th>
                        <th>telefon</th>
                        <th>kullanıcı adı</th>
                        <th>email</th>
                        <th>profil</th>
                       
                    </tr>
                </thead>

                <tbody>


                    @if (Model != null)
                    {

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@((item.Name == "" || item.Name == null) ? "-belirtilmedi-" : item.Name)</td>
                                <td>@(item.LastName == "" || item.LastName == null ? "-belirtilmedi-" : item.LastName)</td>
                                <td>@(item.PhoneNumber == "" || item.PhoneNumber == null ? "-belirtilmedi-" : item.PhoneNumber )</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>  <a class="btn btn-primary" asp-area="Admin" asp-action="GetUserById" asp-controller="Home" asp-route-id="@item.Id"> Profile git  </a> </td>
                            </tr>
                        }
                    }
              
                </tbody>
            </table>


            @{
                int countuser = ViewBag.count;

                int page = countuser/50;

                int kalan = countuser % 50;

                if (kalan != 0)
                {
                    page++;
                }
            }

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                   
                  
                
                        @for (int i = 1; i < page; i++)
                        {
                        <li class="page-item"><a class="page-link" asp-route-size="50" asp-route-page="@i" asp-area="admin" asp-controller="Home" asp-action="index">@(i)</a></li>
                        }

                  
                </ul>
            </nav>


        </div>

    </div>


</div>

@section Scripts{

    <script>


        $(document).ready(function () {
            $('#btnSearch').on('click', function () {
                var queryData = $('#searchData').val();



                $('#snipper').show();
                $.ajax({
                    url: '/admin/Home/GetUserInformation',
                    type: 'GET',
                    data: { id: queryData }, 
                    success: function (response) {
                        $('#queryResult').html(response);
                        $('#snipper').hide();
                    },
                    error: function (request, message, error) {
                        handleException(request, message, error);
                        $('#queryResult').html('<h2>bir hata meydana geldi</h2>');
                        $('#snipper').hide();
                    }
                });
            });
        });



    </script>

}

@*
      public string? Name { get; set; } = "belirtilmedi";
        public string? LastName { get; set; } = "belirtilmedi";
        public string UserName { get; set; } = null!;
        public string Email { get; set; } = null!;
        public string? PhoneNumber { get; set; } = "belirtilmedi";

*@

@section CustomCss{

    <style>

        .order-card {
            color: #fff;
        }

        .bg-c-blue {
            background: linear-gradient(45deg,#4099ff,#73b4ff);
        }

        .bg-c-green {
            background: linear-gradient(45deg,#2ed8b6,#59e0c5);
        }

        .bg-c-yellow {
            background: linear-gradient(45deg,#FFB64D,#ffcb80);
        }

        .bg-c-pink {
            background: linear-gradient(45deg,#FF5370,#ff869a);
        }


        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            border: none;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .card .card-block {
                padding: 25px;
            }

        .order-card i {
            font-size: 26px;
        }

        .f-left {
            float: left;
        }

        .f-right {
            float: right;
        }

    </style>

}                      